html {
    font-family: Arial, Helvetica, sans-serif
}

h2 {
    padding: 0;
    margin: 0;
}

section {
    height: 100vh;
    padding-top: 200px;
}
.ui{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: auto 0;
    padding: 0 10%;
  }

    .leftMenu {
        display: flex;
        flex-direction: column;
        align-self: start;
        gap: 16px;
    } 
    .xr_wrapper {
        width: 600px;
        min-width: 600px;
        height: 600px;
        position: relative;
        display: flex;
        justify-content: center;
        background-color: rgb(255, 255, 255);
    }
    .colorOptions{
        width: 30%;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .colorOptionsButtons {
        display: flex;
        gap: 16px;
    }

iframe {
    background-color: transparent;
}
.formButton {
    width: 100px;
    height: 100px;
}
button {
    width: 150px;
    height: 150px;
    padding: 0;
    border: none;
}

img {
    width: 100%;
    height: 100%;
}